@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

<!-- Portfolio section -->
<div class="section no-padding">
    <!-- Parallax Portfolio item 1 -->
    <div class="parallax-portfolio-item parallax" style="background-image: url(/images/action-air-aircraft.jpg)">
        <a href="#">
            <div class="parallax-portfolio-content">
                <div>
                    <img src="~/images/logowhite.svg" style="max-height: 40px;" alt="⛛ Triangle" />
                    <p class="mt-5"><span class="font-weight-medium">Ahead of the future</span></p>
                    <h1 class="font-weight-thin">With our AI, Machine Learning and IoT Capabilities</h1>
                    <input type="button" class="mt-3 button button-lg button-outline-white-2" value="Learn More" style="width:auto;" onclick="location.href='/iot';" />
                </div>
                <i class="ti-arrow-right"></i>
            </div>
        </a>
    </div>
    <!-- Parallax Portfolio item 2 -->
    <div class="parallax-portfolio-item parallax" style="background-image: url(/images/cloud-computing.jpeg)">
        <a href="#">
            <div class="parallax-portfolio-content">
                <div>
                    <img src="~/images/logo.svg" style="max-height: 40px;" alt="⛛ Triangle" />
                    <p class="mt-5 text-dark"><span class="font-weight-medium">Above the clouds</span></p>
                    <h1 class="font-weight-thin text-dark">With our Cloud computing methods</h1>
                    <button class="mt-3 button button-lg button-outline-dark-2" href="#">Learn More</button>
                </div>
                <i class="ti-arrow-right"></i>
            </div>
        </a>
    </div>
    <!-- Parallax Portfolio item 3 -->
    <div class="parallax-portfolio-item parallax" style="background-image: url(/images/cube.jpeg)">
        <a href="#">
            <div class="parallax-portfolio-content">
                <div>
                    <img src="~/images/logowhite.svg" style="max-height: 40px;" alt="⛛ Triangle" />
                    <p class="mt-5"><span class="font-weight-medium">Complex to beautiful</span></p>
                    <h2 class="font-weight-thin">
                        With our advance solution designs</h4>
                        <button class="mt-3 button button-lg button-outline-white-2" href="#">Learn More</button>
                </div>
                <i class="ti-arrow-right"></i>
            </div>
        </a>
    </div>
    <!-- Parallax Portfolio item 4 -->
    <div class="parallax-portfolio-item parallax" style="background-image: url(/images/Innovations.jpeg)">
        <a href="#">
            <div class="parallax-portfolio-content">
                <div>
                    <img src="~/images/logowhite.svg" style="max-height: 40px;" alt="⛛ Triangle" />
                    <p class="mt-5"><span class="font-weight-medium">Transform business</span></p>
                    <h2 class="font-weight-thin">With our best in class consultation</h2>
                    <button class="mt-3 button button-lg button-outline-white-2" href="#">Learn More</button>
                </div>
                <i class="ti-arrow-right"></i>
            </div>
        </a>
    </div>
    <!-- Parallax Portfolio item 5 -->
    <div class="parallax-portfolio-item parallax" style="background-image: url(/images/adventure-balance-balanced.jpg)">
        <a href="#">
            <div class="parallax-portfolio-content">
                <div>
                    <img src="~/images/logowhite.svg" style="max-height: 40px;" alt="⛛ Triangle" />
                    <p class="mt-5"><span class="font-weight-medium">Analysis and Insights</span></p>
                    <h2 class="font-weight-thin">
                        With our Data Analysis and Management Services</h4>
                        <button class="mt-3 button button-lg button-outline-white-2" href="#">Learn More</button>
                </div>
                <i class="ti-arrow-right"></i>
            </div>
        </a>
    </div>

</div>
<!-- end Portfolio section -->
