@page
@model IndexModel
@{
    ViewData["Title"] = "";
}

	<!-- Portfolio section -->
		<div class="section no-padding">
			<!-- Parallax Portfolio item 1 -->
			<div class="parallax-portfolio-item parallax"style="background-image: url(/images/air-atmosphere-blue.jpg)">
				<a href="#">
					<div class="parallax-portfolio-content">
						<div>
							<span>Category</span>
							<h4 class="font-weight-light">Project Title</h4>	
						</div>
						<i class="ti-arrow-right"></i>
					</div>
				</a>
			</div>
			<!-- Parallax Portfolio item 2 -->
			<div class="parallax-portfolio-item parallax" style="background-image: url(/images/background.jpg)">
				<a href="#">
					<div class="parallax-portfolio-content">
						<div>
							<span>Category</span>
							<h4 class="font-weight-light">Project Title</h4>	
						</div>
						<i class="ti-arrow-right"></i>
					</div>
				</a>
			</div>
			<!-- Parallax Portfolio item 3 -->
			<div class="parallax-portfolio-item parallax" style="background-image: url(/images/background.jpg)">
				<a href="#">
					<div class="parallax-portfolio-content">
						<div>
							<span>Category</span>
							<h4 class="font-weight-light">Project Title</h4>	
						</div>
						<i class="ti-arrow-right"></i>
					</div>
				</a>
			</div>
			<!-- Parallax Portfolio item 4 -->
			<div class="parallax-portfolio-item parallax" style="background-image: url(/images/background.jpg)">
				<a href="#">
					<div class="parallax-portfolio-content">
						<div>
							<span>Category</span>
							<h4 class="font-weight-light">Project Title</h4>	
						</div>
						<i class="ti-arrow-right"></i>
					</div>
				</a>
			</div>
		</div>
		<!-- end Portfolio section -->
