@page
@model InvertTriangle.Pages.IoTModel
@{
    ViewData["Title"] = "- IoT";
    Layout = "_LayoutGeneral";
}
<!-- Home section -->
<div class="section-fullscreen bg-image parallax" style="background-image: url(/images/action-air-aircraft.jpg)">
    <div class="bg-black-06">
        @*<a href="/">
                <img src="~/images/logowhite.svg" style="max-height: 40px; margin-top:30px; margin-left:30px;" alt="⛛ Triangle" />
            </a>*@
        @*<a href="/" class="float-right font-weight-light nav-link font-large"style="margin-top:30px; margin-right:30px;">HOME</a>*@
        <div class="container text-center">
            <div class="position-middle">
                <h1 class="display-3 font-weight-bold">IoT and Advance Automation.</h1>
                <h2 class="font-weight-normal">Our next generation technology to make the world a better place.</h2>
            </div>
            <!-- scrolldown button -->
            <div class="position-bottom">
                <a class="scrolldown icon-lg" href="#about">
                    <i class="ti-arrow-down"></i>
                </a>
            </div>
        </div><!-- end container -->
    </div>
</div>
<!-- end Home section -->
<!-- About section -->
<div id="about" class="section-lg bg-grey-lighter">
    <div class="container">
        <div class="row col-spacing-50">
            <div class="col-12 col-lg-6">
                <h3 class="font-weight-light margin-bottom-20">Powerful Data. Intelligent Business.</h3>
                <p>With engineering expertise from sensors to insights, an extensive Internet of Things (IoT) ecosystem and a practical approach towards IoT-led digital transformation, we help clients realize tangible and significant benefits from IoT.</p>
            </div>
            <div class="col-12 col-lg-6">
                <!-- Progress bar box 1 -->
                <div class="progress-box">
                    <h6 class="heading-uppercase">2015</h6>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 15.41%;" aria-valuenow="15.41" aria-valuemin="0" aria-valuemax="100">
                            <span>15.41</span>
                        </div>
                    </div>
                </div>
                <!-- Progress bar box 2 -->
                <div class="progress-box">
                    <h6 class="heading-uppercase">2018</h6>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 23.14%;" aria-valuenow="23.14" aria-valuemin="0" aria-valuemax="100">
                            <span>23.14</span>
                        </div>
                    </div>
                </div>
                <!-- Progress bar box 3 -->
                <div class="progress-box">
                    <h6 class="heading-uppercase">2020</h6>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 30.73%;" aria-valuenow="30.73" aria-valuemin="0" aria-valuemax="100">
                            <span>30.73</span>
                        </div>
                    </div>
                </div>
                <!-- Progress bar box 4 -->
                <div class="progress-box">
                    <h6 class="heading-uppercase">2025</h6>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 75.44%;" aria-valuenow="75.44" aria-valuemin="0" aria-valuemax="100">
                            <span>75.44</span>
                        </div>
                    </div>
                </div>

                <p class="font-italic">Connected devices in billions</p>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>
<!-- end About section -->
<!-- section -->
<div class="section border-top">
    <div class="container">
        <!-- Process box 1 -->
        <div class="row align-items-center col-spacing-50">
            <div class="col-12 col-md-6">
                <img src="~/images/poc.jpg" alt="">
            </div>
            <div class="col-12 col-md-6">
                <h3 class="font-weight-light">01.</h3>
                <h4>Proof of Concept</h4>
                <ul class="list-icon list-icon-circle-check">
                    <li>Bring in connectivity to already deployed devices</li>
                    <li>Quick prototyping with the cloud based IoT platform</li>
                    <li>Demonstrate possible business value</li>
                </ul>
            </div>
        </div>
        <!-- Process box 2 -->
        <div class="row align-items-center col-spacing-50 margin-top-50 text-md-right">
            <div class="col-12 col-md-6 order-md-2">
                <img src="~/images/plasma.jpg" alt="">
            </div>
            <div class="col-12 col-md-6 order-md-1">
                <h3 class="font-weight-light">02.</h3>
                <h4>Productization</h4>
                <p>We create next generation connected devices, identify the right partner of our IoT platform then combine that with existing enterprise systems to create great business applications.</p>
            </div>
        </div>
        <!-- Process box 3 -->
        <div class="row align-items-center col-spacing-50 margin-top-50">
            <div class="col-12 col-md-6">
                <img src="~/images/michelangelo.jpg" alt="">
            </div>
            <div class="col-12 col-md-6">
                <h3 class="font-weight-light">03.</h3>
                <h4>Operationalization</h4>
                <ul class="list-icon list-icon-circle-check">
                    <li>On-board groups and users</li>
                    <li>On-board devices</li>
                    <li>Create operations center</li>
                    <li>Monitor and manage devices and business</li>
                </ul>
            </div>
        </div>
    </div><!-- end container -->
</div>
<!-- end section -->
<!-- Services section -->
<div id="services" class="section-lg">
    <div class="container">
        <div class="section-title text-center">
            <h6 class="heading-uppercase">Services</h6>
            <h2>What We Do</h2>
        </div>
        <div class="row text-center">
            <!-- Icon text box 1 -->
            <div class="col-12 col-md-4 icon-5xl">
                <i class="ti-stats-up text-dark"></i>
                <h5 class="font-weight-normal margin-top-20">TRANSFORM DATA FROM IOT SOLUTIONS INTO REAL VALUE</h5>
                <p>Quick benefits from IoT data by streamlining development with an application enablement platform, or AEP. With an AEP, your development team can go from no data to data analysis in less time.</p>
            </div>
            <!-- Icon text box 2 -->
            <div class="col-12 col-md-4 icon-5xl">
                <i class="ti-ruler-pencil text-dark"></i>
                <h5 class="font-weight-normal margin-top-20">PROCESS OPTIMIZATION</h5>
                <p>Lean, efficient processes can preserve resources and reduce budgets. In virtually any industry, data can be collected from connected sensors to provide visibility into operations to eliminate waste. This translates directly to cost savings.</p>
            </div>
            <!-- Icon text box 3 -->
            <div class="col-12 col-md-4 icon-5xl">
                <i class="ti-pie-chart text-dark"></i>
                <h5 class="font-weight-normal margin-top-20">CUSTOMER INSIGHTS</h5>
                <p>We enable enterprises find new creative ways to solve customer pain points and open new revenue streams by digging into data. In fact, user-generated data from IoT to lead product managers to their next big release.</p>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>
<!-- end Services section -->


