@page
@model InvertTriangle.Pages.IoTModel
@{
    ViewData["Title"] = "- IoT";
    Layout = "_LayoutGeneral";
}
<!-- Home section -->
<div class="section-fullscreen bg-image parallax" style="background-image: url(/images/action-air-aircraft.jpg)">
    <div class="bg-black-06">
        @*<a href="/">
            <img src="~/images/logowhite.svg" style="max-height: 40px; margin-top:30px; margin-left:30px;" alt="⛛ Triangle" />
        </a>*@
        @*<a href="/" class="float-right font-weight-light nav-link font-large"style="margin-top:30px; margin-right:30px;">HOME</a>*@
        <div class="container text-center">
            <div class="position-middle">
                <h1 class="display-3 font-weight-bold">IoT and Advance Automation.</h1>
                <h2 class="font-weight-normal">Our next generation technology to make the world a better place.</h2>
            </div>
            <!-- scrolldown button -->
            <div class="position-bottom">
                <a class="scrolldown icon-lg" href="#about">
                    <i class="ti-arrow-down"></i>
                </a>
            </div>
        </div><!-- end container -->
    </div>
</div>
<!-- end Home section -->
<!-- About section -->
<div id="about" class="section-lg bg-grey-lighter">
    <div class="container">
        <div class="row col-spacing-50">
            <div class="col-12 col-lg-6">
                <h3 class="font-weight-light margin-bottom-20">Powerful Data. Intelligent Business.</h3>
                <p>With engineering expertise from sensors to insights, an extensive Internet of Things (IoT) ecosystem and a practical approach towards IoT-led digital transformation, we help clients realize tangible and significant benefits from IoT.</p>
            </div>
            <div class="col-12 col-lg-6">
                <!-- Progress bar box 1 -->
                <div class="progress-box">
                    <h6 class="heading-uppercase">2015</h6>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 15.41%;" aria-valuenow="15.41" aria-valuemin="0" aria-valuemax="100">
                            <span>15.41</span>
                        </div>
                    </div>
                </div>
                <!-- Progress bar box 2 -->
                <div class="progress-box">
                    <h6 class="heading-uppercase">2018</h6>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 23.14%;" aria-valuenow="23.14" aria-valuemin="0" aria-valuemax="100">
                            <span>23.14</span>
                        </div>
                    </div>
                </div>
                <!-- Progress bar box 3 -->
                <div class="progress-box">
                    <h6 class="heading-uppercase">2020</h6>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 30.73%;" aria-valuenow="30.73" aria-valuemin="0" aria-valuemax="100">
                            <span>30.73</span>
                        </div>
                    </div>
                </div>
                <!-- Progress bar box 4 -->
                <div class="progress-box">
                    <h6 class="heading-uppercase">2025</h6>
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 75.44%;" aria-valuenow="75.44" aria-valuemin="0" aria-valuemax="100">
                            <span>75.44</span>
                        </div>
                    </div>
                </div>

                <p class="font-italic">Connected devices in billions</p>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>
<!-- end About section -->
<!-- Portfolio section -->
<div id="portfolio" class="section-lg">
    <div class="container">
        <div class="section-title text-center">
            <h6 class="heading-uppercase">Portfolio</h6>
            <h2>Our Latest Works</h2>
        </div>
        <!-- Portfolio filter -->
        <div class="filter filter-style-4 text-center">
            <ul>
                <li class="active" data-filter="*">All</li>
                <li data-filter=".category-1">First</li>
                <li data-filter=".category-2">Second</li>
                <li data-filter=".category-3">Third</li>
            </ul>
        </div>
        <!-- end Portfolio filter -->
        <div class="portfolio-wrapper column-2 spacing-40">
            <!-- Portfolio box 1 -->
            <div class="portfolio-item category-1">
                <div class="portfolio-box">
                    <div class="portfolio-img">
                        <img src="/images/col-2-square.jpg" alt=""><!-- Image source -->
                    </div>
                    <a href="#"></a><!-- Portfolio Single link -->
                    <div class="portfolio-title">
                        <div>
                            <h5 class="font-weight-normal">Project Title</h5>
                            <span>Category</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Portfolio box 2 -->
            <div class="portfolio-item category-2">
                <div class="portfolio-box">
                    <div class="portfolio-img">
                        <img src="/images/col-2.jpg" alt=""><!-- Image source -->
                    </div>
                    <a href="#"></a><!-- Portfolio Single link -->
                    <div class="portfolio-title">
                        <div>
                            <h5 class="font-weight-normal">Project Title</h5>
                            <span>Category</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Portfolio box 3 -->
            <div class="portfolio-item category-3">
                <div class="portfolio-box">
                    <div class="portfolio-img">
                        <img src="/images/col-2-square.jpg" alt=""><!-- Image source -->
                    </div>
                    <a href="#"></a><!-- Portfolio Single link -->
                    <div class="portfolio-title">
                        <div>
                            <h5 class="font-weight-normal">Project Title</h5>
                            <span>Category</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Portfolio box 4 -->
            <div class="portfolio-item category-1">
                <div class="portfolio-box">
                    <div class="portfolio-img">
                        <img src="/images/col-2-square.jpg" alt=""><!-- Image source -->
                    </div>
                    <a href="#"></a><!-- Portfolio Single link -->
                    <div class="portfolio-title">
                        <div>
                            <h5 class="font-weight-normal">Project Title</h5>
                            <span>Category</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Portfolio box 5 -->
            <div class="portfolio-item category-2">
                <div class="portfolio-box">
                    <div class="portfolio-img">
                        <img src="/images/col-2.jpg" alt=""><!-- Image source -->
                    </div>
                    <a href="#"></a><!-- Portfolio Single link -->
                    <div class="portfolio-title">
                        <div>
                            <h5 class="font-weight-normal">Project Title</h5>
                            <span>Category</span>
                        </div>
                    </div>
                </div>
            </div>
        </div><!-- end portfolio-wrapper-->
    </div><!-- end container -->
</div>
<!-- end Portfolio section -->
<!-- Facts section -->
<div id="facts" class="section-lg bg-image parallax" style="background-image: url('/images/background.jpg')">
    <div class="bg-black-05">
        <div class="container text-center">
            <div class="row facts-wrapper">
                <!-- Facts box 1 -->
                <div class="col-12 col-md-3">
                    <h1 class="display-4 font-weight-thin facts-counter">100</h1>
                    <h6 class="heading-uppercase">Fact One</h6>
                    <p>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.</p>
                </div>
                <!-- Facts box 2 -->
                <div class="col-12 col-md-3">
                    <h1 class="display-4 font-weight-thin facts-counter">100</h1>
                    <h6 class="heading-uppercase">Fact Two</h6>
                    <p>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.</p>
                </div>
                <!-- Facts box 3 -->
                <div class="col-12 col-md-3">
                    <h1 class="display-4 font-weight-thin facts-counter">100</h1>
                    <h6 class="heading-uppercase">Fact Three</h6>
                    <p>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.</p>
                </div>
                <!-- Facts box 4 -->
                <div class="col-12 col-md-3">
                    <h1 class="display-4 font-weight-thin facts-counter">100</h1>
                    <h6 class="heading-uppercase">Fact Four</h6>
                    <p>Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue.</p>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div>
</div>
<!-- end Facts section -->
<!-- Services section -->
<div id="services" class="section-lg">
    <div class="container">
        <div class="section-title text-center">
            <h6 class="heading-uppercase">Services</h6>
            <h2>What We Do</h2>
        </div>
        <div class="row text-center">
            <!-- Icon text box 1 -->
            <div class="col-12 col-md-4 icon-5xl">
                <i class="ti-star text-dark"></i>
                <h5 class="font-weight-normal margin-top-20">Social Marketing</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
            <!-- Icon text box 2 -->
            <div class="col-12 col-md-4 icon-5xl">
                <i class="ti-ruler-pencil text-dark"></i>
                <h5 class="font-weight-normal margin-top-20">Graphic Design</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
            <!-- Icon text box 3 -->
            <div class="col-12 col-md-4 icon-5xl">
                <i class="ti-camera text-dark"></i>
                <h5 class="font-weight-normal margin-top-20">Photography</h5>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>
<!-- end Services section -->
<!-- Clients section -->
<div class="section bg-grey">
    <div class="container">
        <div class="owl-carousel" data-owl-dots="false" data-owl-margin="30" data-owl-autoplay="true" data-owl-xs="1" data-owl-sm="2" data-owl-md="3" data-owl-lg="4" data-owl-xl="6">
            <!-- Client box 1 -->
            <div class="client-box">
                <a href="#">
                    <img src="/images/col-5.jpg" alt="">
                </a>
            </div>
            <!-- Client box 2 -->
            <div class="client-box">
                <a href="#">
                    <img src="/images/col-5.jpg" alt="">
                </a>
            </div>
            <!-- Client box 3 -->
            <div class="client-box">
                <a href="#">
                    <img src="/images/col-5.jpg" alt="">
                </a>
            </div>
            <!-- Client box 4 -->
            <div class="client-box">
                <a href="#">
                    <img src="/images/col-5.jpg" alt="">
                </a>
            </div>
            <!-- Client box 5 -->
            <div class="client-box">
                <a href="#">
                    <img src="/images/col-5.jpg" alt="">
                </a>
            </div>
            <!-- Client box 6 -->
            <div class="client-box">
                <a href="#">
                    <img src="/images/col-5.jpg" alt="">
                </a>
            </div>
            <!-- Client box 7 -->
            <div class="client-box">
                <a href="#">
                    <img src="/images/col-5.jpg" alt="">
                </a>
            </div>
        </div><!-- end owl-carousel -->
    </div><!-- end container -->
</div>
<!-- end Clients section -->
<!-- Blog section -->
<div id="blog" class="section-lg">
    <div class="container">
        <div class="section-title">
            <div class="row align-items-end">
                <div class="col-6">
                    <h6 class="heading-uppercase">Newsfeed</h6>
                    <h2>Latest Blog Posts</h2>
                </div>
                <div class="col-6 text-right">
                    <a class="text-btn-3" href="#">Read All Posts</a>
                </div>
            </div>
        </div>
        <div class="row home-blog-post-wrapper">
            <!-- Blog post 1 -->
            <div class="col-12 col-md-6">
                <div class="home-blog-post-img">
                    <a href="#">
                        <img src="/images/col-2.jpg" alt="">
                        <span class="home-blog-post-category">Category</span>
                    </a>
                </div>
                <div class="home-blog-post-content">
                    <h5 class="font-weight-normal"><a href="#">Blog Post with Image</a></h5>
                    <span>Jan 03, 2018</span>
                </div>
            </div>
            <!-- Blog post 2 -->
            <div class="col-12 col-md-6">
                <div class="home-blog-post-img">
                    <a href="#">
                        <img src="/images/col-2.jpg" alt="">
                        <span class="home-blog-post-category">Category</span>
                    </a>
                </div>
                <div class="home-blog-post-content">
                    <h5 class="font-weight-normal"><a href="#">Blog Post with Image</a></h5>
                    <span>Jan 03, 2018</span>
                </div>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>
<!-- end Blog section -->
<!-- Testimonial -->
<div id="testimonial" class="section bg-dark-lighter">
    <div class="container">
        <div class="owl-carousel" data-owl-items="1" data-owl-dots="false" data-owl-nav="true">
            <!-- Testimonial box 1 -->
            <div class="testimonial-box">
                <img class="margin-bottom-30" src="/images/img-circle-small.jpg" alt="">
                <p class="margin-bottom-20">"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."</p>
                <h5 class="font-weight-normal no-margin">Johnny Doe</h5>
                <span>CEO - Company</span>
            </div>
            <!-- Testimonial box 2 -->
            <div class="testimonial-box">
                <img class="margin-bottom-30" src="/images/img-circle-small.jpg" alt="">
                <p class="margin-bottom-20">"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."</p>
                <h5 class="font-weight-normal no-margin">Johnny Doe</h5>
                <span>CEO - Company</span>
            </div>
            <!-- Testimonial box 3 -->
            <div class="testimonial-box">
                <img class="margin-bottom-30" src="/images/img-circle-small.jpg" alt="">
                <p class="margin-bottom-20">"Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus."</p>
                <h5 class="font-weight-normal no-margin">Johnny Doe</h5>
                <span>CEO - Company</span>
            </div>
        </div><!-- end owl-carousel -->
    </div><!-- end container -->
</div>
<!-- end Testimonial -->
<!-- Contact section -->
<div id="contact" class="section-lg">
    <div class="container">
        <div class="section-title text-center">
            <h6 class="heading-uppercase">Contact</h6>
            <h2>Get In Touch</h2>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
        </div>
        <div class="row text-center">
            <!-- Icon text box 1 -->
            <div class="col-12 col-sm-6 col-md-3 icon-3xl">
                <i class="ti ti-email text-dark"></i>
                <h6 class="font-weight-normal margin-top-20">Email</h6>
                <p>contact@email.com</p>
            </div>
            <!-- Icon text box 2 -->
            <div class="col-12 col-sm-6 col-md-3 icon-3xl">
                <i class="ti ti-skype text-dark"></i>
                <h6 class="font-weight-normal margin-top-20">Skype</h6>
                <p>skype.username</p>
            </div>
            <!-- Icon text box 3 -->
            <div class="col-12 col-sm-6 col-md-3 icon-3xl">
                <i class="ti ti-mobile text-dark"></i>
                <h6 class="font-weight-normal margin-top-20">Phone</h6>
                <p>+(987) 654 321 01</p>
            </div>
            <!-- Icon text box 4 -->
            <div class="col-12 col-sm-6 col-md-3 icon-3xl">
                <i class="ti ti-location-pin text-dark"></i>
                <h6 class="font-weight-normal margin-top-20">Address</h6>
                <p>121 King St, Melbourne VIC 3000</p>
            </div>
        </div><!-- end row -->
    </div><!-- end container -->
</div>
<!-- end Contact section -->
<!-- Google Maps -->
<div class="section no-padding">
    <div class="container-fluid no-padding">
        <div id="map-canvas" class="gmap-xl" data-latitude="51.513569" data-longitude="-0.123443"></div>
    </div><!-- end container -->
</div>
<!-- end Google Maps -->